.pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  background-color: lightblue;
  border-radius: 8px;
  margin: 20px;

  &__name {
    width: 100%;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-transform: capitalize;
  }

  &__types {
    display: flex;
    padding: 0px;
  }

  &__type {
    padding: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    width: 50px;
    text-align: center;
    margin: 5px;
    background-color: grey;
    border-radius: 16px;
  }
}
